.custom-logo {
  width: 120px;   
  height: auto;   
  margin-left: 20px; 
}
pcoded-header.header-blue {
    background: linear-gradient(to right, #eac7ee, #ae1a4b);
    color: rgba(255, 255, 255, 0.8);
}